#container {
  
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  position: absolute;
  left: 50%;
  right: 50%;
  top: 40%;
  transform: translateY(-50%);
  
}
.centered-text {
  margin-top: 10px; 
  color: #333; 
  font-size: 18px; 
  font-weight: bold; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  letter-spacing: 1px;
  position: absolute;
  top: 35%;
  right: 26%;
  
}
.large-avatar {
  width: 140px; 
  height: 140px; 
  border-radius: 50%; 
  border: 4px solid #000000; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  display: flex;
 justify-content: center; 
 align-items: center;
 position: absolute;
 right: 27%;
 }

.status {
  margin-top: -10px; 
  color: #333; 
  font-size: 18px; 
  font-weight: bold; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  letter-spacing: 1px; 
  position: absolute;
  top: 46%;
  right: 32%;

}
.custom-card {
  width: 300px; 
  height: 491px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ededf1; 
  padding: 20px;
  position: absolute;
  top: 65%; 
  left: 50%; 
  transform: translate(-50%, -50%); 

}
.sosial-link1{
  position: absolute;
  top: 50%;
  right: 35%;
}
.sosial-link2{
  position: absolute;
  top: 56%;
  right: 19%;
}