<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div id="container">
  <ion-card class="custom-card">
    <ion-avatar class="large-avatar">
      <img src="assets/img/2201301058.jpg" alt="Silhouette of person's head">
    </ion-avatar>
  
  <p class="centered-text">Yuliana Kartini</p>
  <p class="status">Mahasiswa</p>
  <a class="sosial-link1" href="https://instagram.com/yulianaakrtni">@yulianaakrtni</a>
  <a class="sosial-link2" href="https://yulianakartini712@gmail.com">yulianakartini712@gmail.com</a>
</ion-card>
</div>